.business
 .container
  .who__block 
   .who__text 
    .who__title Who we are
    .who__subtitle InSoft is a global investment firm and technology provider specializing in IT fields and assist it's porfolio companies with all end-to-end business operations to achieve financial goals.
    .who__table
     .who__table-item
      .who__table-head 15+ Deals
      .who__table-text M&A deals with IT companies
      .who__table-icon 
       img.src(src=require(`../images/deals.png`))
     .who__table-item
      .who__table-head 10 Years
      .who__table-text Average age of acquired companies
      .who__table-icon 
       img.src(src=require(`../images/years.png`))
     .who__table-item
      .who__table-head 30-350 FTE
      .who__table-text Number of full-time employees in our average company
      .who__table-icon 
       img.src(src=require(`../images/fte.png`))
   .who__img
    img.src(src=require(`../images/f_rel.png`) alt=name)
    .who__red-block
     .red-block__title What we do
     .red-block__subtitle We invest in the equity of companies (we can also look at their prospective projects). InSoft Partners is interested in the purchase of a controlling equity stake in most cases.

  .investing-block
   .investing-block__head-invest
    .investing-block__title-invest Our investment partners
    .investing-block__subtitle-invest Key investment partners that we work with
   .investing-block__item-invest
    .investing-block__item-logo
      img.src(src=require(`../images/ufu.svg`) alt=name)
    .investing-block__item-text The company has a diversified portfolio of assets in the fields of real estate, infrastructure, industry, renewable energy, pharmaceuticals, and IT. Currently, UFuture’s assets are estimated at $500 million, and the total capitalization of the businesses it invested in is almost $1 billion.
     .investing-block__item-arrow
      span
   .investing-block__item-invest
    .investing-block__item-logo
      img.src(src=require(`../images/joob.svg`) alt=name)
    .investing-block__item-text Jooble is a vertical job search engine and is represented in 71 countries and available in 24 languages.
     .investing-block__item-arrow
      span
  .business-block 
   .investing-block__head-invest
    .investing-block__title-invest Our prominent business partners
    .investing-block__subtitle-invest Key business partners that we work with
   .business-block__partners
    .business-block__partners-item
     img.src(src=require(`../images/oaktree.png`) alt=name)
    .business-block__partners-item
     img.src(src=require(`../images/fintpoint.png`) alt=name)
    .business-block__partners-item
     img.src(src=require(`../images/rothchild.png`) alt=name)
    .business-block__partners-item
     img.src(src=require(`../images/unit.png`) alt=name)